# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
null_vector = np.zeros(10)
null_vector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
range_vector = np.arange(10,50)
range_vector

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [4]:
np.shape(range_vector)

(40,)

5. Print the type of the previous array in question 3

In [5]:
range_vector.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
print(np.show_config())

1.18.1
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/User/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/User/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/User/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/User/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/User/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/User/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/User/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/User/anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [7]:
range_vector.ndim

1

8. Create a boolean array with all the True values

In [9]:
bool_array= np.ones(9,dtype='bool')
print(bool_array,bool_array.dtype)

bool_array = np.array([True,True,True,True,True,True,True,True,True])
print(bool_array,bool_array.dtype)

bool_array= np.array(range(1,10),dtype='bool')
print(bool_array,bool_array.dtype)

[ True  True  True  True  True  True  True  True  True] bool
[ True  True  True  True  True  True  True  True  True] bool
[ True  True  True  True  True  True  True  True  True] bool

9. Create a two dimensional array

In [11]:
twoD_array = np.array([[1,3],[4,8]])
twoD_array2 = np.arange(12).reshape(3,4)
print(twoD_array,twoD_array2,sep="\n\n")

[[1 3]
 [4 8]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

10. Create a three dimensional array

In [12]:
threeD_array = np.array([[[1,1],[2,2]],[[3,3],[4,4]]])
print("array1 =",threeD_array)

threeD_array2 = np.arange(18).reshape(2,3,3)
print("\narray2 =",threeD_array2)

array1 = [[[1 1]
  [2 2]]

 [[3 3]
  [4 4]]]

array2 = [[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [13]:
array = np.arange(10)
np.flip(array)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
null_vector = np.zeros(10)
null_vector[4]=1 
print(null_vector)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

13. Create a 3x3 identity matrix

In [15]:
identity_m = np.identity(3)
identity_m

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [16]:
arr = np.array([1, 2, 3, 4, 5])
f_array = arr.astype(np.float64)
print(arr.dtype)
print(f_array.dtype)

arr = np.array([1, 2, 3, 4, 5],dtype='float64')
print(arr.dtype)

int32
float64
float64

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [17]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
arry_mul = arr1 * arr2
arry_mul

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [18]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])

arrequal = np.equal(arr1,arr2)
print(arrequal)

arrgreater=np.less_equal(arr1,arr2)
print(arrgreater)
# max from both array
arrMax = np.maximum(arr1,arr2)
print(arrMax)

[[False False False]
 [False False False]]
[[False  True False]
 [ True False  True]]
[[ 1.  4.  3.]
 [ 7.  5. 12.]]

17. Extract all odd numbers from arr with values(0-9)

In [22]:
arry= np.arange(10)
arry[arry%2!=0]

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [24]:
arry[arry%2!=0]=-1
arry

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [78]:
arr = np.arange(10)
arr[5:9]=12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [30]:
array_border = np.ones((5,5))
array_border[1:-1,1:-1]=0
array_border

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [31]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1:2,1:2]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [33]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0:1,0:1,:]=64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [42]:
array2d_slice = np.arange(10).reshape(5,2)
print(array2d_slice )
array2d_slice[0:1,:]

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

array([[0, 1]])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [43]:
array2d_slice2 = np.arange(10).reshape(5,2)
print(array2d_slice2 )
array2d_slice2[1:2,1:2]

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

array([[3]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [48]:
array2d_slice3 = np.arange(9).reshape(3,3)
print(array2d_slice3 )
array2d_slice3[0:2,2:3]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [53]:
rand_array = np.random.randn(10,10)
print(rand_array)
print("max value =",rand_array.max())
print("min value =",rand_array.min())

[[ 0.080548   -0.38964038 -0.33666168 -0.64491963 -0.80494546 -0.30063873
  -1.12722945 -0.28753689  0.39964837 -0.05435355]
 [ 0.21250709 -0.90385206 -1.75401058  2.90022532 -0.58298151 -2.00114079
   0.84511181  0.26550625 -0.78930828  0.10442326]
 [ 3.29226468  1.01651612 -0.55930494 -0.16085062  0.72044417  0.34640379
  -2.65501573  1.35827759 -1.60138519  0.45249185]
 [ 0.34730522  0.8117143   0.47461369  1.07601388 -1.73667309  0.42353184
  -0.22766958 -0.31436614  0.18845362  0.35024006]
 [ 0.34527927 -1.34529933  0.68362535 -0.84157378 -1.06473708 -0.71420781
   0.41956951  0.3007379  -1.24102688  0.55241204]
 [-1.08821271  1.45771293  0.01062371 -0.69202482  0.28199329 -0.0334029
   0.70488791 -0.24732716  0.82072137  0.76066456]
 [ 0.9987572   0.57910946 -1.09200469 -0.26318535  1.04854316 -1.07630206
  -1.79463625  0.0841089   0.85547964 -1.58086981]
 [ 0.06344228  1.79660483 -1.22582054 -0.41426931 -0.55640727 -0.58975899
   1.1083966  -0.98607791  0.02686122  0.47089981]
 [-0.64287809 -0.79104077  0.10996864  0.9897873   1.88596031  1.51865679
  -0.51072174 -0.26021711  1.52518437 -0.54274101]
 [ 0.97812424 -0.93441973 -2.18270021 -0.73849697  0.66505952  0.42596186
   0.41125976 -0.97667736 -0.7881333   1.3859517 ]]
max value = 3.292264678048031
min value = -2.6550157303697297

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [55]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [73]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])

position= np.where(a==b)[0]
print(position)

[1 3 5 7]

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [76]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print(data)
data[names!='Will']

[[-0.17579466 -0.66896751 -0.16705091 -0.33069365]
 [-1.7303785  -1.19302294  0.65647286 -0.85409094]
 [ 0.08806599 -0.88946214 -0.87570284 -0.13119607]
 [ 1.33299422 -1.32699456 -1.10167336  1.01603204]
 [-0.26155754  0.28442387  0.66175869 -0.90060806]
 [ 0.65721982  0.7529321   0.04112174 -0.03872473]
 [-0.28034475 -0.42731887 -1.0397152   2.45222664]]

array([[-0.17579466, -0.66896751, -0.16705091, -0.33069365],
       [-1.7303785 , -1.19302294,  0.65647286, -0.85409094],
       [ 1.33299422, -1.32699456, -1.10167336,  1.01603204],
       [ 0.65721982,  0.7529321 ,  0.04112174, -0.03872473],
       [-0.28034475, -0.42731887, -1.0397152 ,  2.45222664]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [84]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print(data)
data[(names!='Will') & (names!='Joe')]

[[ 1.64208021  0.35688552  1.74831999  0.06831679]
 [ 0.99744584  0.87045671  0.55754523  0.02529447]
 [ 0.81871265 -0.2002141   0.8742277   0.67240127]
 [-1.22456108  0.04689561 -0.00655744  1.82575468]
 [-0.44641443 -1.55842859 -0.05221277 -1.54030855]
 [-0.77832962 -1.81380272  0.58480526 -0.54443181]
 [ 0.08849114 -0.55472709 -1.59321751 -0.46620348]]

array([[ 1.64208021,  0.35688552,  1.74831999,  0.06831679],
       [-1.22456108,  0.04689561, -0.00655744,  1.82575468]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [85]:
array_2d = np.arange(1,16).reshape(5,3)
array_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [88]:
array_2d2 = np.arange(1,17).reshape(2,2,4)
array_2d2

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

33. Swap axes of the array you created in Question 32

In [90]:
array_2d3=array_2d2.reshape(2,4,2)
array_2d3

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [118]:
array2=np.random.rand(10)
print(array2.dtype)
print(array2)
array3=np.sqrt(array2)
print(array3)
np.where(array3<0.5,0,array3)

float64
[0.48238521 0.33915634 0.07635124 0.70985005 0.54579651 0.40655899
 0.48030672 0.1042356  0.40577604 0.13610479]
[0.69453957 0.58237131 0.27631728 0.84252599 0.73878042 0.63761979
 0.69304164 0.32285538 0.63700553 0.36892383]

array([0.69453957, 0.58237131, 0.        , 0.84252599, 0.73878042,
       0.63761979, 0.69304164, 0.        , 0.63700553, 0.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [121]:
a=np.random.rand(12)
print(a)
b=np.random.rand(12)
print(b)
c=np.maximum(a,b)
print(c)

[0.25723078 0.08263403 0.24342783 0.59495628 0.24943993 0.16095534
 0.44692244 0.6376109  0.25660775 0.75887481 0.7188511  0.3521802 ]
[0.74317786 0.6933164  0.76809153 0.3722044  0.77922506 0.47486084
 0.25560236 0.51146067 0.12578145 0.42934984 0.33754418 0.72561613]
[0.74317786 0.6933164  0.76809153 0.59495628 0.77922506 0.47486084
 0.44692244 0.6376109  0.25660775 0.75887481 0.7188511  0.72561613]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [126]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names_sort = np.unique(names)
print(names_sort)

['Bob' 'Joe' 'Will']
['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [138]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [144]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray[:,2:3]=np.transpose(newColumn)
sampleArray

array([[34, 43, 10],
       [82, 22, 10],
       [53, 94, 10]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [145]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
dot_xy = np.dot(x,y)
dot_xy

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [149]:
matrix_20 = np.random.rand(20)
print(matrix_20)
csum = np.matrix.cumsum(matrix_20)
print(csum)

[0.63870509 0.80068048 0.61312086 0.50436323 0.97700018 0.06692979
 0.91163074 0.7271254  0.07673931 0.3073677  0.96039414 0.1298537
 0.49674724 0.1649635  0.75207224 0.9199944  0.1221674  0.78151124
 0.80442649 0.06615978]
[ 0.63870509  1.43938557  2.05250643  2.55686965  3.53386983  3.60079962
  4.51243036  5.23955576  5.31629507  5.62366278  6.58405692  6.71391062
  7.21065786  7.37562135  8.1276936   9.047688    9.1698554   9.95136665
 10.75579314 10.82195291]